body{
  margin:0;
  font-family:"Merriweather" , serif;
  text-align:center;
}
h1{
  color:#364547;
  font-size:90px;
  margin-top:0;
  margin-bottom:0;
  font-family:"Sacramento" , cursive;
}
span p {
  margin-top:0;
  font-weight:normal;
  color:white;
  font-family:"Montserrat", serif;
  font-size:200%;
}
h2{
  color:#66BFBF;
  font-size:2.5rem;
  font-family:"Montserrat" ,serif;
}
h3{
  font-weight:bold;
  font-size:24px;
}
.skills{
  color:white;
  font-family: cursive;
  width:94%;
  padding:20px;
  border-radius: 40px;
  margin-left: auto;
  margin-right:auto;
  background-color:#364547;
}
.skill-row{
  position: relative;
  width:50%;
  margin-left: auto;
  margin-right: auto;
  line-height:2;
}
.ragnar_1{
  float:left;
  margin-right: 40px;
}
.ragnar_2{
  float:right;
  margin-left:20px;
}
hr{
  color:lightblue;
  margin:100px auto 100px auto ;
  border: dotted 4px;
  border-top: 0;
  width:6%;
}
.p{
  padding-left:40px;
}
.p2{
}
img{
  border-radius:10%;
}

h3{
  font-family:"Montserrat",serif;
}
h3 , a{
  color:#11999E;
}
.top-container{
  position:relative;
  background-color:#8fd6e1;
  margin-bottom:18px;
}
.bottom-container{
  border-top:6px solid skyblue;
  padding-top:60px;
  background-color:darkgrey;
}
.footer-link{
      text-decoration:none;
      margin-right:20px;
      font-size:20px;
      font-weight:bold;
}
.footer-copyright{
  text-align:center;
  margin-bottom:0;
  font-weight:bold;
  font-size:20px;
  font-family:"Montserrat",serif;
}

#cloudandheading{
  text-align: center;
  margin:0 auto;
  padding-top:100px;
}
#mountain{
  display:block;
  width:40%;
  margin:0 auto;
}
#cloud-top{
  position: absolute;
  right:380px;
  top:40px;
}
#cloud_bottom{
  position:absolute;
  left:340px;
}
.BUTTON {
  margin-top:20px;
  margin-bottom:20px;
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 30px;
   font-weight: 100;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
